node_modules/
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so

# SQLite database
*.sqlite3

# Virtual environments
venv/
env/

# VSCode / PyCharm
.vscode/
.idea/

# Django static and media files
/static/
/media/

# OS files
.DS_Store
Thumbs.db

node_modules/
dist/
out/
build/
*.dmg
*.zip
*.app

# SQLite database
*.sqlite3
backend/giga_backend/db.sqlite3
backend/giga_backend/requirements.txt
backend/giga_backend/media/mission_files/ekler.jpg
backend/giga_backend/media/mission_files/gerizekalı_mıyız_KDuKjxc.jpg
backend/giga_backend/media/profile_photos/images.jpg